*, ::before,::after {
box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5CB;

}

.container {
    width: 95vw;
    margin: 0 auto;
    padding: 10px;
    text-align: center;

}

.search-form {
    width: 60%;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 15px;

    background-color: #DAE2B6;
    /* border: 1px solid; */

    border-radius: 35px;

    /* background-color: aquamarine; */
}

.search-form > input {
    padding: 15px;

    width: 225px;
    margin-right: 10px;

    font-size: 17px;

    border: 1px solid transparent;
    border-radius: 20px;
}

.search-form > button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid transparent;

    cursor: pointer;
    transition: all .3s ease-out;


}

.search-form > button:hover {
    background-color: #243763;
    color: #FFEBB7;
}

.search-form > button:active {
    background-color: #432C7A;
    color: #FFEBB7;
    border: 3px solid #DAE2B6;
}



.gallery {
    display: flex;
    flex-wrap: wrap;
}

.photo-card {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 31%;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 9px;

    background-color: #FFF8EA;
}

img {
    display: block;
    width: 100%;
    border-radius: 9px;
}

.load-more {
    margin-top: 10px;
    width: 180px;
    height: 52px;

    font-size: 14px;
    text-transform: uppercase;
    color: #FFEBB7;

    background-color: #243763;
    border-radius: 20px;
    border: 1px solid transparent;

    transition: all .3s ease-out;
    cursor: pointer;
}

.load-more:hover {
    background-color: #576F72;
    color: #243763;
    border: 1px solid transparent;
}

.load-more:active {
    background-color: #DAE2B6;
    color: #243763;
}

.load-more.is-hidden {
    display: none;
}

.load-text.is-hidden {
    display: none;
}

#load-animation.is-hidden {
    display: none;
}




#load-animation {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;

    animation: loader1 3s linear infinite;
}

@keyframes loader1 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#load-animation span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    
    clip: rect(16px,32px,32px,0);
    animation: loader2 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes loader2 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


#load-animation span::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 32px;
    height: 32px;

    border: 3px solid transparent;
    border-top: 3px solid white;
    border-radius: 50%;

    animation: loader3 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;

}

@keyframes loader3 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


#load-animation span::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 32px;
    height: 32px;

    border: 3px solid #FFEBB7;
    border-radius: 50%;

}

/* Card */

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 90%;

    margin: 0 auto;
    margin-top: 10px;

}